/* CSS Document */

body {
    padding: 0;
    margin: 0;
    background: #fff;
}


/*--------visor-------------*/
visor {
    padding: 0;
    margin: 0;
    background: #fff;
}

div#main div#visor {
    width: 778px;
    height:400px;
    background: #EEEEEE;
    padding: 0 0 13px 0;
    position: relative;
}

div#main div#visor div#imgView{
    float: left;
    width:70%;
    height:70%;
    display:block;
}

div#main div#visor div#listaImge {
      clear: both;
      width:100%;
      height:30%;
      display:block;
}

.imagelist{
    margin:7px 50px 0px 50px;
    cursor:pointer;
}

.imagelist:hover {
    text-decoration: underline;
}

div#main div#visor div#infoCar {
    float: right;
    width:30%;
    height:70%;
    display:block;
}

figure {
    display: table; margin: 0 auto;
}


/*--------FIN visor-------------*/

p, div, ul, li, img, h1, h2, h3, h4, a {
    padding: 0;
    margin: 0;
}

#tituloNombre {
    color: #9D6D2E;
}

.spacer {
    clear: both;
    line-height: 1px;
    font-size: 1px;
}

form, label, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/*-----------------------*/
div#main {
    width: 778px;
    margin: 0 auto 0 auto;
}

    div#main img.logo {
        float: left;
        margin: 44px 0 0 19px;
    }

    div#main ul.topcar {
        width: 315px;
        margin: 5px 0 0 0;
        float: right;
        height: 92px;
    }

        div#main ul.topcar li {
            float: left;
            line-height: 0;
            font-size: 0;
        }

    div#main ul.topnav {
        width: 454px;
        float: left;
        height: 17px;
        display: block;
        padding: 5px 0 0 9px;
        font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        background: #697779;
        margin: 9px 0 0 0;
    }

        div#main ul.topnav li {
            float: left;
        }

            div#main ul.topnav li a {
                margin: 0 10px 0 10px;
                text-decoration: none;
                color: #FFFFFF;
                background: inherit;
            }

                div#main ul.topnav li a:hover {
                    text-decoration: underline;
                }

    div#main h2.gallary {
        background: #000;
        width: 299px;
        height: 17px;
        padding: 5px 0 0 16px;
        float: right;
        font: bold 11px/14px Verdana, Arial, Helvetica, sans-serif;
        color: #CCCCCC;
    }

    div#main div#header {
        background: url(../images/header.jpg) no-repeat 0 0;
        width: 778px;
        height: 295px;
        display: block;
        clear: both;
    }
    /*--------body-------------*/
    div#main div#body {
        width: 778px;
        background: #EEEEEE;
        padding: 0 0 13px 0;
    }

div#body div.left {
    padding: 31px 0 0 19px;
    float: left;
    width: 372px;
}

    div#body div.left p {
        color: #7A8282;
        font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
        width: 361px;
        margin: 14px 0 0 0;
    }

        div#body div.left p a {
            text-decoration: underline;
            color: #7A8282;
        }

div#body form.search {
    width: 370px;
    height: 355px;
    background: url(../images/form_bg.gif) repeat-x 0 0 #fff;
    border: 1px solid #BDBFBF;
    float: right;
    padding: 0 0 9px 0;
    margin: 0 0 14px 0;
    clear: right;
}

div#body div.left p a:hover {
    text-decoration: none;
}

div#body form.search img.head {
    margin: 10px 0 10px 16px;
    clear: both;
}

div#body form.search label {
    color: #535858;
    font: bold 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    margin: 15px 18px 0 31px;
    width: 120px;
    float: left;
}

#lblTipoV{
    color: #535858;
    font: bold 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    margin: 15px 18px 0 31px;
    width: 120px;
    float: left;

}

#lblTipoV:hover, #lblSeguro:hover {
    text-decoration: underline;
    color:blue;
    cursor:pointer;
    font:bold;
}

div#body form.search select.combos {
    width: 172px;
    height: 20px;
    margin: 15px 0 0 0;
    border: #80A2C2 1px solid;
    float: left;
    clear: right;
}

div#body form.search input.fechas {
    width: 172px;
    height: 20px;
    margin: 15px 0 0 0;
    border: #80A2C2 1px solid;
    float: left;
}

div#body form.search input.resultados {
    width: 172px;
    height: 20px;
    margin: 15px 0 0 0;
    border: #80A2C2 1px solid;
    float: left;
}

div#body form.search input.botones {
    width: 74px;
    height: 16px;
    border: 1px solid #697779;
    color: #535858;
    font: bold 11px/12px Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    padding: 0 0 4px 0;
    margin: 12px 0 0 75px;
    background: #fff;
    cursor: pointer;
}

div#body h3.tech {
    width: 741px;
    border-bottom: 1px solid #ABB5B6;
    margin: 0 0 0 19px;
    clear: both;
}

    div#body h3.tech img {
        margin: 0 0 15px 0;
    }

div#body div.ads {
    width: 741px;
    height: 56px;
    background: #fff;
    margin: 2px 0 0 19px;
    padding: 13px 0 0 0;
    text-align: center;
}

    div#body div.ads img {
        float: left;
    }

div#body p.brd {
    margin: 3px 0 0 19px;
    border-bottom: 1px solid #ABB5B6;
    line-height: 0;
    font-size: 0;
    width: 741px;
}
/*-----------------------------*/
div#body p.footer {
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 21px 0 10px 0;
    color: #060602;
}

    div#body p.footer a {
        color: #060602;
        text-decoration: none;
        margin: 0 10px 0 10px;
    }

        div#body p.footer a:hover {
            text-decoration: underline;
        }
/*-----------------*/
div#main div.foot {
    height: 51px;
    width: 778px;
    background: #697779;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #FFFFFF;
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    padding: 20px 0 0 0;
}

    div#main div.foot a {
        margin: 5px 0 0 0;
        color: #FFFFFF;
        text-decoration: underline;
        background: inherit;
    }

        div#main div.foot a:hover {
            text-decoration: none;
        }

